/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5; }

body {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  min-width: 800px !important;
  margin-right: 0px; }

a {
  color: inherit;
  text-decoration: none; }

header {
  position: relative;
  width: 100%; }

div#overmenuwrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed !important;
  top: 0px;
  left: 0px;
  padding: 20px 0px 10px 0px;
  z-index: 9999; }

div#menuwrap {
  width: 80%;
  min-width: 800px;
  margin: auto;
  vertical-align: middle; }

div#logoimg {
  float: left; }
  div#logoimg img.logo {
    padding-left: 50px;
    width: 120px; }

div#login {
  float: right;
  background-color: #de6d6e;
  padding: 4px 14px 4px 13px;
  margin-left: 50px;
  border-radius: 3px;
  font-size: 17px; }
  div#login img.login {
    padding-right: 7px;
    width: 13px; }
  div#login a {
    text-decoration: none;
    color: #fff; }

div.menu {
  float: right; }
  div.menu li {
    display: inline-block;
    margin-right: 30px;
    padding-top: 8px;
    font-size: 17px; }
    div.menu li a {
      text-decoration: none;
      color: #666; }

div#headerimg {
  height: 585px;
  position: relative;
  top: 0px; }
  div#headerimg img {
    width: 100vw;
    min-width: 1000px;
    max-height: 800px;
    overflow: hidden; }

div#headertitle {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 414px; }
  div#headertitle h1 {
    font-size: 69px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 25px #666; }
  div#headertitle h2 {
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 15px #666; }

div#wrapper {
  margin: auto; }

div#main {
  width: 100%;
  top: 240px;
  box-shadow: 0px 2px 4px #ccc; }

section#maintitle h1 {
  margin-top: 300px;
  font-size: 35px;
  color: #404040; }

section#maintitle p {
  margin-top: 20px;
  font-size: 17px;
  color: #636363; }

section#icons {
  padding: 88px 0px 0px 0px;
  height: 250px; }
  section#icons div {
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 180px; }
  section#icons img.omote {
    position: relative;
    top: -179px; }
  section#icons div.ticket:hover, section#icons div.camera:hover, section#icons div.beer:hover, section#icons div.devices:hover {
    -webkit-animation: rotate 2s ease 0s 1 alternate;
            animation: rotate 2s ease 0s 1 alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    section#icons div.ticket:hover img.omote, section#icons div.camera:hover img.omote, section#icons div.beer:hover img.omote, section#icons div.devices:hover img.omote {
      transition: .6s visibility;
      visibility: hidden; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }
  section#icons img {
    margin: 0px 37px;
    width: 175px; }

section#news {
  clear: both;
  width: 80%;
  margin: auto;
  margin-top: 44px; }

article.post {
  margin-bottom: 40px;
  min-height: 200px; }
  article.post img.wp-post-image {
    clear: both;
    width: 200px;
    display: inline;
    float: left;
    margin: 0 24px 0 65px; }
  article.post h1.title {
    font-size: 27px;
    color: #404040;
    margin-bottom: 10px;
    text-align: left; }
    article.post h1.title a {
      color: #404040;
      text-decoration: none; }
  article.post p {
    font-size: 15px;
    color: #8b8b8b;
    text-align: left; }

footer {
  min-width: 800px;
  background-color: #2c2a28;
  color: #8b8b8b;
  height: 550px; }
  footer div#footer-wrap {
    width: 80%;
    margin: auto; }

nav#footer {
  height: 300px;
  padding: 35px 0 0 65px;
  text-align: left;
  line-height: normal;
  width: 60%;
  float: left; }
  nav#footer h1 {
    font-size: 30px; }

div.footerbox {
  clear: both; }
  div.footerbox div.menuwrap {
    float: left;
    width: 45%; }
    div.footerbox div.menuwrap h2 {
      font-size: 21px;
      margin-top: 30px;
      margin-bottom: 18px; }
    div.footerbox div.menuwrap ul li {
      font-size: 15px; }

div#share {
  float: left;
  width: 30%;
  padding-top: 120px; }
  div#share p img {
    width: 51px;
    padding-right: 21px; }
  div#share p.copyright {
    padding-top: 15px;
    font-size: 15px; }

/* Wordpress */
div.article {
  margin-top: 100px;
  text-align: center; }
  div.article div.title {
    float: left;
    width: 80%;
    padding-left: 50px; }
  div.article div.post-meta {
    float: right; }
  div.article div.the-content {
    clear: both;
    margin-top: 40px;
    padding-left: 50px;
    font-size: 18px !important;
    color: #404040; }
