extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    div#overmenuwrap
      div#menuwrap
        div#logoimg
          a(href="#")
            img.logo(src="images/Graffpink.png")
        div#login
          a(href="#")
            img.login(src="images/Login.png")
            | Login
        div.menu
          ul
            li: a(href="#") Home
            li: a(href="#") About Us
            li: a(href="#") Services
            li: a(href="#") Contact
  section#headimg
    div#headerimg
      img(src="images/header.png")
    div#headertitle
      h1 WELCOME TO PINK!
      h2 A multi purpose theme from cssauthor.com

  div#wrapper
    div#main
      section#maintitle
        h1 Lorem Ipsum is simply dummy!!
        p
          |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus-
          br
          |try's standard dummy text ever since the 1500s, when an unknown

      section#icons
        div.ticket
          img.ura(src="images/tickets_hover.png")
          img.omote(src="images/tickets.png")
        div.camera
          img.ura(src="images/camera_hover.png")
          img.omote(src="images/camera.png")
        div.beer
          img.ura(src="images/beer_hover.png")
          img.omote(src="images/beer.png")
        div.devices
          img.ura(src="images/devices_hover.png")
          img.omote(src="images/devices.png")

    section#news
      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.

      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.

      article.post
        img.wp-post-image(src="images/newsimg.png")
        h1.title Lorem Ipsum is simply dummy
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          | essentially unchanged.


  footer
    div#footer-wrap
      nav#footer
        a: h1 新着記事一覧
        div.footerbox
          div.menuwrap
            a: h2 Tickets
            ul
              li Android
              li Apps
              li Articles
              li Backgrounds
              li Brogger
              li Books
              li Coding
          div.menuwrap
            a: h2 Camera
            ul
              li Freebies
              li Greetings
              li Icons
              li Illustrator
              li Inspiration
              li iPad
              li iPhone
        div.footerbox
          div.menuwrap
            a: h2 Beer
            ul
              li Drupal
              li Fonts
              li Freebies
              li Greetings
              li Icons
              li Illustrator
              li Inspiration
          div.menuwrap
            a: h2 Devices
            ul
              li JQuery
              li Magento
              li Mobile
              li Photoshop
              li Plugins
              li Resource
              li Templates

      div#share
        p
          img(src="images/facebook.png")
          img(src="images/twitter.png")
          img(src="images/www.png")
          img(src="images/share.png")
        p.copyright Copyright © 2009–2013 Cssauthor.com
