// reset css
@import 'bower_components/reset-css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/wrapper';

// pages
@import 'page/index';

// 変数
$headerColor: #404040;
$textColor: #8b8b8b;


// SCSS

body {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  min-width: 800px!important;
  margin-right: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
}

div#overmenuwrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed!important;
  top: 0px;
  left: 0px;
  padding: 20px 0px 10px 0px;
  z-index: 9999;
}

div#menuwrap {
  width: 80%;
  min-width: 800px;
  margin: auto;
  vertical-align: middle;
}

div#logoimg {
  float: left;

  img.logo {
    padding-left: 50px;
    width: 120px;
  }
}

div#login {
  float: right;
  background-color: #de6d6e;
  padding: 4px 14px 4px 13px;
  margin-left: 50px;
  border-radius: 3px;
  font-size: 17px;

  img.login {
    padding-right: 7px;
    width: 13px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

div.menu {
  float: right;

  li {
    display: inline-block;
    margin-right: 30px;
    padding-top: 8px;
    font-size: 17px;

    a {
      text-decoration: none;
      color: #666;
    }
  }
}

div#headerimg {
  height: 585px;
  position: relative;
  top: 0px;

  img {
    width: 100vw;
    min-width: 1000px;
    max-height: 800px;
    overflow: hidden;
  }
}

div#headertitle {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 414px;

  h1 {
    font-size: 69px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 25px #666;
  }

  h2 {
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 15px #666;
  }
}

div#wrapper {
  margin: auto;
}


div#main {
  width: 100%;
  top: 240px;
  box-shadow: 0px 2px 4px #ccc;
}

section#maintitle {
  h1 {
    margin-top: 300px;
    font-size: 35px;
    color: $headerColor;
  }

  p {
    margin-top: 20px;
    font-size: 17px;
    color: #636363;
  }
}

section#icons {
  padding: 88px 0px 0px 0px;
  height: 250px;

  div {
    width: 20%;
    margin: auto;
    display: inline-block;
    height: 180px;
  }

  img.omote {
    position: relative;
    top: -179px;
  }

  img.ura {

  }

  div.ticket:hover, div.camera:hover, div.beer:hover, div.devices:hover {
    animation: rotate 2s ease 0s 1 alternate;
    animation-fill-mode: forwards;
    img.omote {
      transition: .6s visibility;
      visibility: hidden;
    }
  }

  @keyframes rotate {
    0% { -webkit-transform:rotateY(360deg); transform:rotateY(360deg) }
    100% { -webkit-transform:rotateY(180deg); transform:rotateY(180deg) }
  }

  img {
    margin: 0px 37px;
    width: 175px;
  }
}

section#news {
  clear: both;
  width: 80%;
  margin: auto;
  margin-top: 44px;
}

article.post {
  margin-bottom: 40px;
  min-height: 200px;

  img.wp-post-image {
    clear: both;
    width: 200px;
    display: inline;
    float: left;
    margin: 0 24px 0 65px;
  }

  h1.title {
    font-size: 27px;
    color: $headerColor;
    margin-bottom: 10px;
    text-align: left;
    a {
      color: $headerColor;
      text-decoration: none;
    }
  }

  p {
    font-size: 15px;
    color: $textColor;
    text-align: left;
  }
}

footer {
  min-width: 800px;
  background-color: #2c2a28;
  color: $textColor;
  height: 550px;

  div#footer-wrap {
    width: 80%;
    margin: auto;
  }
}

nav#footer {
  height: 300px;
  padding: 35px 0 0 65px;
  text-align: left;
  line-height: normal;
  width: 60%;
  float: left;


  h1 {
    font-size: 30px;
  }
}

div.footerbox {
  clear: both;

  div.menuwrap {
    float: left;
    width: 45%;

    h2 {
      font-size: 21px;
      margin-top: 30px;
      margin-bottom: 18px;
    }

    ul li {
      font-size: 15px;
    }
  }
}

div#share {
  float: left;
  width: 30%;
  padding-top: 120px;

  p {
    img {
      width: 51px;
      padding-right: 21px;
    }
  }

  p.copyright {
    padding-top: 15px;
    font-size: 15px;
  }
}

/* Wordpress */

div.article {
  margin-top: 100px;
  text-align: center;

  div.title {
    float: left;
    width: 80%;
    padding-left: 50px;
  }

  div.post-meta {
    float: right;
  }

  div.the-content {
    clear: both;
    margin-top: 40px;
    padding-left: 50px;
    font-size: 18px!important;
    color: $headerColor;
  }
}
